<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADFacturacion.Properties.Settings.FacturacionConnectionString"
            connectionString="Data Source=ALFREDO-PC;Initial Catalog=Facturacion;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>