<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IVecindad" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8000/Servicios/Servicio/ServicioVecindad"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IVecindad"
                contract="IVecindad" name="WSHttpBinding_IVecindad">
                <identity>
                    <userPrincipalName value="ALFREDO-PC\Alfredo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>